body {
  font-family: -apple-system,
    BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: whitesmoke;
  font-weight: 300;
  color: #333;
}
h1 {
  font-weight: 200;
  text-align: center;
  text-transform: lowercase;
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}
#container {
  display: block;
  background: white;
  width: 99%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 2px 0 #aaa;
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}
